@import "../../../assets/styles/styles";

.header {
  width: 100%;
  height: 80px;
  background: $navbar-color;
}

.container {
  @include flex(center, sb);
  max-width: 1200px;
  height: 100%;
  margin: 0 auto;
}
