.header {
  width: 100%;
  height: 80px;
  background: #121829;
  backdrop-filter: blur(20px);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1186px;
  height: 100%;
  margin: 0 auto;
}
