@import "../../../assets/styles/helpers";

.wrapper {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-row-gap: 20px;
  grid-column-gap: 24px;
  width: 100%;
  margin-bottom: 64px;
}

.card {
  height: 480px;
  width: 100%;
  background-color: $card-color;
  backdrop-filter: blur(40px);
  border-radius: 12px;
  padding: 8px;
  position: relative;
  cursor: pointer;
  transition: 0.2s;
  &:hover {
    transform: scale(1.035);
    transition: 0.2s;
  }
}
.mark {
  position: absolute;
  margin: 8px 10px;
  z-index: 2;
}
.photo {
  height: 400px;
  width: 100%;
  background-color: #191e2e;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: 100%;
  }
}
.name {
  padding: 8px;
  margin-top: 16px;
  font-size: 16px;
  font-weight: 600;
}
.link {
  text-decoration: none;
  color: $txt-color-main;
}
