.Card {
  background: rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(40px);
  border-radius: 12px;
  width: 282px;
  height: 480px;
  padding: 8px 8px 24px;
  transition: transform 250ms ease;
  cursor: pointer;
&:hover {
  z-index: 2;
  transform: scale(1.1);
  background: #7B6EF6;
}  
}
.image {
  // background-image: url(../../../assets/img/imageBcg.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 400px;
  margin-bottom: 24px;

}
.filmName {
  padding: 8px;
  font-weight: 600;
  color: #ebeef5;
}
