@use "../../assets/utils/mixins";
.film {
  @include mixins.flex-container;
  flex-direction: column;
  position: relative;

  text-decoration: none;

  background-color: rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(40px);
  border-radius: 12px;

  margin-bottom: 20px;
  padding: 8px;

  &__rate {
    position: absolute;
    top: 18px;
    left: 16px;
  }

  &__image {
    max-width: 266px;
    max-height: 400px;
    border-radius: 8px;
  }

  &__title {
    @include mixins.default-semibold-text;
    text-align: left;
    color: #ebeef5;

    width: 100%;
    padding: 24px 0 24px 16px;
  }
}