@use "../../assets/utils/vars";
@use "../../assets/utils/mixins";

.hero {
  padding: 160px 0 72px;

  &__content {
    display: flex;
    flex-direction: column;
    gap: 16px;

    max-width: 530px;
  }

  &__heading {
    font-weight: 600;
    font-size: 64px;
    line-height: 80px;
    letter-spacing: -0.02em;
    color: #ebeef5;
  }

  &__text {
    @include mixins.default-semibold-text;
    font-weight: 400;
    color: vars.$mainColor;
  }
}