@use "../../../scss/" as *;

.detailsPoster{
  margin-bottom: 152px;
}

.poster {
  position: relative;
  border-radius: 40px;
  img {
    width: 100%;
    height: 480px;
    border-radius: inherit;
  }
}

.info {
  position: absolute;
  top: 408px;
  left: 80px;
  padding: 40px;
  background: rgba(32, 40, 62, 0.8);
  backdrop-filter: blur(12px);
  border-radius: 24px;
  width: 560px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
  cursor: pointer;
  transition: all 0.3s ease;
  &:hover{
    transform: scale(1.05);
  }
}

.movieType {
  color: #beb7fb;
  font-size: 12px;
  line-height: 16px;
}

.movieName {
  color: $title-color;
  font-weight: 600;
  font-size: 32px;
  line-height: 40px;
}
