.navbar {
  display: flex;
  align-items: center;
  gap: 84px;
}

.link {
  font-weight: 600;
  font-size: 16px;
  line-height: 14px;
  color: #A8AEBF;
  text-decoration: none;
}

// .link:first-child {
//   &::after {
//     content: "";
//     position: absolute;
//     bottom: -2px;
//     left: 0;
//     width: 105%;
//     height: 1px;
//     background-color: #ff6b08;
//   }
// }