.navbar {
  display: flex;
  align-items: center;
  gap: 84px;
}

.link {
  position: relative;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-decoration: none;
}

.link:first-child {
  &::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 105%;
    height: 1px;
    background-color: #ff6b08;
  }
}
