@import "../../../assets/styles/helpers";

.wrapper {
  text-align: center;
  @include flex-full-center;
  flex-direction: column;
  margin-bottom: 70px;
  h3 {
    font-weight: 400;
    font-size: 20px;
    color: #767e94;
    margin: 0 0 24px 0;
  }
}
.primary {
  background: $btn-color;
  border-radius: 12px;
  padding: 16px 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  text-decoration: none;
  color: #ffffff;
  display: block;
  width: fit-content;

  cursor: pointer;
  &:hover {
    background: #6958ff;
  }
}
