@use "../../assets/utils/mixins";

.rate {
  @include mixins.flex-container;

  background: rgba(0, 0, 0, 0.65);
  backdrop-filter: blur(4px);
  border-radius: 8px;
  padding: 8px;

  max-width: fit-content;

  color: #ffad49;

  &__icon {
    width: 13px;
    height: 13px;
    fill: #ffad49;
  }

  &__amount {
    margin-left: 4px;
    line-height: 24px;
  }
}