.logo {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 30px;
  line-height: 35px;
  color: #ffffff;

  & img {
    margin-right: 11px;
  }
}

// .logo img {
//   margin-right: 11px;
// }
