.Wrapper {
    margin-top: 40px;
    color: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 2 columns of equal width */
    grid-template-rows: repeat(2, 1fr); /* 2 rows of equal height */
    gap: 24px; /* spacing between grid items */
}

