@import "../../../assets/styles/helpers";

.primary {
  background: $btn-color;
  border-radius: 12px;
  padding: 16px 32px;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;

  text-decoration: none;
  color: #ffffff;
  display: block;
  width: fit-content;

  &:hover {
    background: #6958ff;
  }
}
