.container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 24px;

  img {
    border-radius: 8px;
    width: 350px;
    height: 230px;
    object-fit: cover;
  }
}

.input {
  display: block;
  height: 50px;
  width: 500px;
  border-radius: 8px;
  margin: 0 auto;
  margin-bottom: 50px;
  padding-left: 24px;
}
