@import "../../../assets/styles/styles";

.genre {
  border-radius: 12px;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 8px;
  width: fit-content;
  button {
    height: 40px;
    color: $txt-color-secondary;
    background: none;
    border: none;
    font-weight: 600;
    font-size: 16px;
    padding: 8px 32px;
    cursor: pointer;
    &.active {
      color: #ebe9fe;
      background: #7b6ef6;
      border-radius: 8px;
    }
  }
}
