@use "../../assets/utils/mixins";

.filmInfo {
  display: flex;
  align-items: flex-start;
  padding-top: 152px;
  padding-bottom: 160px;
  gap: 80px;

  &__image {
    width: 480px;
    height: 720px;

    border-radius: 24px;
  }

  &__describe {
    display: flex;
    flex-direction: column;
    gap: 24px;
    max-width: 480px;

    text-align: left;
  }

  &__title {
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.015em;
    color: #ebeef5;
  }

  &__description {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #8e95a9;
  }

  &__info {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__category {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #767e94;
  }

  &__text {
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    color: #c3c8d4;
  }


}