.filmCover {
  padding-top: 40px;

  &__image {
    position: relative;
    background-image: url("../../assets/images/Details-Cover.png");
    height: 480px;
  }

  &__info {
    position: absolute;
    bottom: -15%;
    left: 80px;

    display: flex;
    flex-direction: column;
    gap: 8px;

    background-color: rgba(32, 40, 62, 0.8);
    backdrop-filter: blur(12px);
    border-radius: 24px;

    min-width: 560px;
    padding: 40px 40px;
  }

  &__title {
    font-weight: 600;
    font-size: 32px;
    line-height: 40px;
    letter-spacing: -0.02em;
    color: #ebeef5;
  }

  &__action {
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    color: #beb7fb;
  }
}