@import "assets/base.scss";

body, html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  font-family: "Poppins", sans-serif;

  background-color: $bodyBg;
  background-image: $bodyImg;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center -300px;
}