@use "../scss" as *;


@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;900&family=Poppins:wght@400;600&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.02rem;
  background: #121829;
  background-image:url(../assets/img/Background.png);
  background-size: cover;
  background-repeat: no-repeat;
  backdrop-filter: blur(20px);
}
body {
  color: $txt-color;  
}
a {
  text-decoration: none;
  color: $txt-color;
}
button,
input {
  outline: 0;
}
ul {
  list-style-type: none;
}
li {
  display: inline-block;
}
img {
  max-width: 100%;
}
.container {
  padding-top: 120px;
  width: 90%;
  max-width: 1200px;
  margin: 0 auto;
  
}

.App {
  padding-bottom:70px ;
}